:root {
    --primary-color: #2A5A3E;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    text-align: center;
    margin: 0 auto;
    background-color: black;
}

#logo {
    width: 1000px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ChacterPics {
    margin: 3em;
    display: block;
    width: 200px;
    height: auto;
}

#Character1, #Character2, #Character3 {
    display: block;
    text-align: center;
}


.CharacterBar {
    display: flex;
    justify-content: center;
    flex-basis: auto;
    flex-shrink: 2;
}

.CharacterDetails {
    display: flex;
    flex-basis: auto;
    flex-shrink: 2;
    justify-content: center;
}

body h1 {
    text-align: center;
}


#Character2 button {
    text-align: center;
}

#NewCharacterForm {
    text-align: center;
}

form input {
    width: 100%;
    padding: 12px 20px;
    margin-top: 1px;
    margin-bottom: 10px;
    margin-left: 5px;
    box-sizing: border-box;
}

form label {
    float: left;
    margin-left: 5px;
}

.RandomQuote {
    padding: 50px;
    text-align: center;
    background-color: lightgray;
    border-radius: 20px;
}

#quote {
    font-size: 1.3em;
}

button {
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    font-weight: 300;
    font-size: medium;
    text-align:center;
    transition: all .2s;
    border: none;
}

button:hover {
    background-color: rgb(23, 66, 23);
}

.names {
    max-width: 150px;
}